*{margin:0;padding:0; }

.vongtron i.fa.fa-angle-double-down:hover {
    transform: scale(1.3);
}

.vongtron {
    border: 2px solid white;
    padding: 7px 16px;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 100%!important;
    background: 0 0;
    color: white;
    transition: all 0.4s ease-in-out;
}

.vongtron i.fa.fa-angle-double-down {
    transition: all .4s ease-in-out;
}

a.btn.vongtron:hover {
    color: white;
    background: rgba(128, 128, 128, 0.27);
}

footer {
    text-align: center;
    background: black;
    color: white;
    font-size: 15px;
    padding: 30px 0;
}

.bando {
    height: 250px;
}

.xahoi a.btn.btn-default {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    background: 0 0;
    color: #42dca3;
    border-color: #42dca3;
    font-size: x;
    font-weight: bolder;
}

.xahoi a.btn.btn-default:hover {
    background: #42dca3;
    color: black;
}

.xahoi ul {
    text-align: center;
}

.top4 a.mail {
    font-size: 19px;
    color: #42dca3;
    /* margin-bottom: 23px; */
}

.top4 a.mail:hover {
    text-decoration: none;
    color: #1d9b6c;
}

.top4 p {
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.top4 h3 {
    font-size: 27px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.top4 {
    color: white;
    background: black;
    padding: 100px 0px;
}

.xahoi li {
    /* float: left; */
    list-style: none;
    display: block;
}

.xahoi {
    margin-top: 35px;
}

.top3 a.btn.btn-default {
    background: 0 0;
    color: #42dca3;
    font-size: 20px;
    border-color: #42dca3;
    margin-top: 24px;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}

.top3 a.btn.btn-default:hover {
    background: #42dca3;
    color: black;
}

.top3 h3 {
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.top3 {
    background-image: url(../img/downloads-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    
    color: white;
}

.top3 p {
    font-size: 19px;
    /* padding-top: 15px; */
    margin-top: 35px;
}

.top2 p {
    font-size: 19px;
    margin: 0 0 30px 0;
    line-height: 1.6;
}

.top2 h3 {
    font-size: 33px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 25px;
}

.top2 {
    color: white;
    background: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.arrowdown {
    transition: all 0.4s ease-in-out;
}

.arrowdown:hover {
    transform: scale(1.3);
    opacity: 0.4;
}

.muiten i.fa.fa-angle-double-down {
    color: white;
    font-size: 40px;
    padding-top: 15px;
}

.muiten {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    margin: auto;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
}

.muiten:hover {
    /* opacity: 0.5; */
    background-color: rgba(128, 128, 128, 0.26);
}

.tieude p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    /* line-height: 40px; */
    margin-bottom: 35px;
}

.tieude h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 35px;
    margin-top: 0px;
}

.tieude {
    display: table-cell;
    vertical-align: middle;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.top1 {
    background: url(../img/intro-bg.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: scroll;
    display: table;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav>.active>a {
    background-color: rgba(255,255,255,.3);
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgba(255,255,255,.8);
}

.navbar-brand span {
    font-weight: bold;
}

nav.navbar.navbar-default {
    margin: 0px;
    background: 0 0;
    border: none;
    padding: 15px 0px;
    transition: all 0.5s ease-in-out;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    padding: 0px 0px;
    background: black;
    color: white;
    border-bottom: 0.1px solid gray;
}

a.navbar-brand {
    font-size: 1.7em;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
}

body {
    font-family: 'Lora', serif;
}

html, body {
    height: 100%;
}

@media (min-width: 768px){
    .top1 {
        height: 100%;
        padding: 0;
    }
    .tieude h1{
        font-size: 100px;
    }
    .tieude p{
        font-size: 30px;
    }

    .top2{
        height: 100%;
        padding:200px 0px; 
    }

    .top4{
        height: 100%;
        padding-top: 200px;
    }

    .xahoi li{
        display: inline-block
    }


}
