*{margin:0;padding:0; }

.muiten i.fa.fa-angle-double-down {
    color: white;
}

.muiten {
    width: 65px;
    height: 65px;
    border: 2px solid white;
    margin: auto;
    line-height: 65px;
    border-radius: 50%;
}

.tieude p {
    color: white;
    font-size: 29px;
    font-weight: 500;
    /* line-height: 40px; */
    margin-bottom: 35px;
}

.tieude h1 {
    color: white;
    font-size: 7em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 35px;
    margin-top: 0px;
}

.tieude {
    display: table-cell;
    vertical-align: middle;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.top1 {
    background: url(../img/intro-bg.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.1em;
    text-transform: uppercase;
}

.navbar-brand span {
    font-weight: bold;
}

nav.navbar.navbar-default {
    margin: 0px;
    background: 0 0;
    border: none;
}

a.navbar-brand {
    font-size: 1.7em;
    /* color: white; */
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
}

body {
    font-family: 'Lora', serif;
}

body html {
    height: 100%;
}


    