*{margin:0;padding:0; }

.top2 img.img-responsive {
    margin: auto;
}

.endaboutchild h4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.endaboutchild {
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}

.endabout {
    width: 162px;
    height: 162px;
    margin: auto;
    background: #fed136;
    text-transform: uppercase;
    color: white;
    /* font-size: 20px; */
    border-radius: 50%;
    display: table;
}

.tinabout img {
    border: 4px solid rgba(128, 128, 128, 0.28);
}


.duongke {
    width: 5px;
    background: rgba(0, 0, 0, 0.29);
    position: absolute;
    height: 100%;
    left: 50%;
}

.tinabout:before{
    content: "";
}

.row.timeline {
    position: relative;
}

.noidungtin p {
    line-height: 21px;
    color: gray;
}

.noidungtin h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.row.tinabout {
    margin-bottom: 90px;
}

.top5 img.img-responsive {
    margin: auto;
}

.theend {
    color: #fec503;
}

.theend span {
    margin-right: 10px;
}

p.copyright {
    line-height: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


.footer {
    padding: 20px;
}

.top6 .sendmessage {
    background: #fec503;
    border: 0;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

textarea.form-control {
    height: 218px;
}

input.form-control {
    padding: 30px 10px;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.24);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.top6 {
    background: url(../img/map-image.png);
    background-color: #222;
    padding: 100px 0;
}

.top5 {
    padding: 40px 0;
}

.noidungphu {
    padding-top: 35px;
    color: gray;
    font-size: 17px;
}

.xahoi li a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background: black;
}

.xahoi li {
    list-style: none;
    display: inline-block;
}

.top4 p {
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.top4 h4 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.top4 .img-circle {
    border: 7px solid white;
}

.top4 {
    background: #eee;
    padding: 100px 0;
}


i.fa.fa-plus.fa-3x {
    margin-top: -15px;
}

.daucong1 {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    font-size: 20px;
    margin-top: -12px;
    line-height: 0;
}

.content_portfolio3 {
    background-color: white;
    padding: 20px 0;
}

.content_portfolio {
    margin-bottom: 20px;
}

.content_portfolio2 {
    position: relative;
    /* margin-bottom: 20px; */
}

.top2 .daucong {
    position: absolute;
    background-color: rgba(254,209,54,.9);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.7s;
}

.top2 .daucong:hover {
    opacity: 1;
}

.content_portfolio3 p {
    font-style: italic;
    font-size: 16px;
    color: gray;
}

.content_portfolio3 h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}


.top2 {
    background-color: #eee;
    padding: 100px 0;
}

.top1 p {
    color: gray;
    font-size: 14px;
}

.top1 h5 {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

.top1 .fa {
    width: 100px;
    height: 100px;
    border: 1px solid #fed136;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    background-color: #fed136;
    color: white;
    border-radius: 100%;
}

.tieude {
    margin-bottom: 60px;
}

.tieude p {
    font-style: italic;
    color: rgba(128, 128, 128, 0.73);
    font-size: 15px;
}

.tieude h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.top6 h2 {
    color: white;
}

.top1 {
    padding: 100px 0;
}

.row.text-center.content_header {
    padding-top: 10%;
}

a.btn.btn-default.btn-lg {
    background-color: #fed136;
    border: 0;
    border-radius: 3%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 35px;
}

.header h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
@media (min-width: 768px){
    .header h1 {
        font-size: 75px;
    }
}

.header p {
    font-size: 22px;
    font-style: italic;
}
@media (min-width: 768px){
    .header p {
        font-size: 40px;
    }
}

.header {
    background: url(../img/header-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    padding: 100px 0 0 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: white;
}

@media (min-width: 768px){
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* transition: all 0.4s; */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background: #fed136;color: white;border-radius: 3%;}

.navbar-default .navbar-nav>li>a:hover {
    color: #fed136;
}

.navbar-default .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    transition: all 0.4s;
}

.navbar-default.menuchay .navbar-brand {
    font-size: 20px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: 0 0;
    border: 0;
    padding: 10px;
    transition: all 0.4s;
}

nav.navbar.navbar-default.navbar-fixed-top.menuchay {
    background: black;
    margin-bottom: 0px;
    padding: 5px;
}


body {
    font-family: 'Lora', serif;
}

html, body {
    height: 100%;
}