*{margin:0;padding:0; }

.top1 .tieude {
    /* margin-bottom: 5%; */
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.menuphai .listtmenu a {
    color: white;
}



.listtmenu li {
    list-style: none;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid gray;
    color: white;
}



.logo .fa.fa-close {
    /* padding: 7px; */
    padding: 10px 10px;
    background: white;
    color: black;
    /* right: 9px; */
    font-size: 20px;
    margin-right: 6px;
    margin-top: -5px;
}

.menuphai .logo h4 {
    font-size: 20px;
    color: gray;
    padding-left: 20px;
}

.menuphai {
    position: fixed;
    top: 0px;
    right: -300px;
    z-index: 3;
    background: black;
    color: white;
    width: 280px;
    height: 680px;
    transition: all 0.7s;
}

.menuphai.showmenu {
    right: 0px;
}

.nutmenu a.fa.fa-bars {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    padding: 14px 18px;
    background: rgba(0, 0, 0, 0.43);
    font-size: 17px;
    z-index: 1;
    margin-top: 5px;
    margin-right: 5px;
}

.copyright p {
    padding-top: 20px;
}

.copyright hr {
    width: 10%;
    margin: auto;
}

.footer .copyright {
    padding: 20px;
}

.footer .xahoi a:hover {
    text-decoration: none;
}

.footer .xahoi .fa {
    margin-right: 10px;
}

.footer .info h4 {
    font-size: 20px;
    font-weight: 600;
}

.footer .info {
    padding-top: 42px;
    padding-bottom: 30px;
}

.top6 a.btn.btn-default {
    border: none;
    border-radius: 0px;
}

.top6 a.btn.btn-primary:hover {
    background: rgba(0,0,0,0.7);
}

.top6 a.btn.btn-primary {
    background: rgba(30, 30, 84, 0.45);
    margin-left: 20px;
    border-radius: 0px;
    border: none;
}

a.btn.btn-default.viewmoreitem {
    border-radius: 0px;
}

a.btn.btn-default.viewmoreitem:hover {
    background: rgba(0, 0, 0, 0.68);
    color:white;
}

img.img-responsive {
    margin-bottom: 20px;
}

img.img-responsive:hover {
    opacity: 0.8;
}

.top4 h2 {
    font-size: 57px;
    font-weight: 700;
}


._4cot .btn.btn-default {
    border-radius: 0px;
}

._4cot p {
    font-size: 13px;
}

._4cot h3 {
    font-size: 18px;
    font-weight: 700;
}

.iconto .fa {
    width: 100px;
    height: 100px;
    background: white;
    color: #337ab7;
    line-height: 100px;
    font-size: 65px;
    border: 0px;
    border-radius: 50%;
}

.top3 ._4cot {
    margin-top: 20px;
}

.vienduoi {
    width: 10%;
    margin: auto;
}

.top3 h2 {
    font-size: 30px;
    margin-bottom: 19px;
}

.top3 {
    background: #337ab7;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
}

.top2 h2 {
    font-size: 29px;
}

.top2 {
    padding: 60px 0px;
}

.top1 a.btn.btn-default.btn-lg {
    background: rgba(0, 0, 0, 0.44);
    color: white;
    border: none;
    border-radius: 0px;
}

.top1 a.btn.btn-default.btn-lg:hover {
    background: rgba(0, 0, 0, 0.68);
}

.top1 p {
    font-size: 24px;
}

.top1 {
    /* padding-top: 15%; */
    /* padding-bottom: 5%; */
}

.top1 h1 {
    font-size: 4.5em;
    font-weight: 700;
}

.top1 {
    width: 100%;
    height: 100%;
    display: table;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    position: relative;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer .xahoi {
    padding-top: 30px;
}

.top6 {background: #337ab7;color: white;padding: 50px 0px;}

.top4 {
    background: url(../img/callout.jpg);
    background-size: cover;
    height: 450px;
    color: white;
    padding-top: 156px;
}

.top2 p {
    font-size: 20px;
    font-weight: 300;
    color: gray;
}
